.customModal_wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  animation: backgroundcolor 0.5s ease;
  -webkit-animation: backgroundcolor 0.5s ease;
  animation-fill-mode: forwards;
}

@keyframes backgroundcolor {
  from {
    background: rgba($color: #000000, $alpha: 0);
  }
  to {
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}
